*
!/src/
!/src/**
!/data/
!Cargo.lock
!Cargo.toml
!.gitignore
!/data/permuted_10_million_cut_trimmed.txt
!/data/generated_cut_80.txt
!/data/generated_cut_160.txt
!/data/sudoku_solutions_4x4.txt
!/data/sudoku_solutions_6x6.txt
